@import './../../../../styles/imports';

.key-button {
  position: relative;

  &__cover {
    @extend %full-flex-center;

    background: linear-gradient(120deg, #f8977c 0%, #ee706a 50%, #d25651 100%);
    background-size: 200% 100%;
    @extend %border-radius;

    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    cursor: pointer;
    font-family: $spartan;
    font-size: 1.6rem;
    font-weight: 700;
    height: 3.6rem;
    left: 0;
    letter-spacing: 0.1rem;
    line-height: 1;
    position: absolute;
    text-shadow: 0.1rem 0 0.2rem #d25651;
    text-transform: uppercase;
    top: 0;
    transition: background 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
    transform: translateY(-0.4rem);
    width: 24rem;

    span {
      transform: translateY(0.3rem);
    }
  }

  &__base {
    background: linear-gradient(120deg, #e37b5e 0%, #d25651 100%);
    @extend %border-radius;

    box-shadow: 0.4rem 0 1.6rem rgba(0, 0, 0, 0.1),
      0.2rem 0 0.8rem rgba(0, 0, 0, 0.2), 0.1rem 0 0.4rem rgba(0, 0, 0, 0.3),
      -0.1rem -0.1rem 0.4rem rgba(254, 97, 90, 0.6),
      -0.2rem -0.2rem 0.8rem rgba(254, 97, 90, 0.4),
      -0.4rem -0.4rem 1.6rem rgba(254, 97, 90, 0.2);
    height: 3.6rem;
    transition: box-shadow 0.5s ease;
    width: 24rem;
  }

  @include hover {
    &:hover {
      .key-button__cover {
        background-position: 100%;
        box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
        transition: background 0.2s ease, box-shadow 0.2s ease,
          transform 0.2s ease;
        transform: translateY(0);
      }

      .key-button__base {
        border: 0.1rem solid #d25651;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0),
          0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(254, 97, 90, 0),
          0 0 0 rgba(254, 97, 90, 0), 0 0 0 rgba(254, 97, 90, 0);
        transition: box-shadow 0.2s ease;
      }
    }
  }
}
