@import './../../styles/_imports';

.breadcrumbs {
  @extend %border-radius;
  @extend %box-shadow;

  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: $spartan;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 0 1.6rem;
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  transition: color 0.33s ease;

  & > * {
    margin: 0.4rem;

    @include break(360) {
      margin: 0 0.4rem;
    }
  }

  & > a {
    position: relative;
    top: 0.2rem;
  }

  svg {
    fill: #ccc;
    height: 1.2rem;
    transform: rotate(180deg);
    width: 1.2rem;
  }

  a {
    color: $shadow-green;
    transition: color 0.33s ease;

    @include hover {
      &:hover {
        color: $patina;
      }
    }
  }
}

.documentation {
  line-height: 2;

  a {
    color: $patina;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: $jungle-mist;
    transition: color 0.33s ease, text-decoration 0.33s ease;

    @include hover {
      &:hover {
        color: $cutty-sark;
        text-decoration-color: $shadow-green;
        text-decoration-style: solid;
      }
    }
  }

  h1,
  h2,
  h3 {
    color: #666;
    font-family: $spartan;
  }

  h1 {
    display: inline-grid;
    font-size: 2.4rem;
    grid: auto / auto 2.4rem;
    grid-gap: 1.6rem;
    place-items: center;
  }

  h2,
  h3 {
    color: #666;
  }

  hr {
    border: 0;
    border-top: 0.1rem solid $jungle-mist;
    margin: 3.2rem 6.4rem;
  }

  ol,
  ul {
    margin: 1.6rem;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2em;
    padding-inline-start: 0.8rem;

    @include break(420) {
      margin-block-start: 0.4rem;
      margin-block-end: 0.4em;
      padding-inline-start: 1.6rem;
    }

    @include break(480) {
      margin-block-start: 0.8rem;
      margin-block-end: 0.8em;
      padding-inline-start: 3.2rem;
    }
  }

  code {
    @extend %border-radius;

    background-color: #eee;
    color: #666;
    display: inline;
    font-weight: 700;
    padding: 0.2rem 0.4rem;
  }
}

.codeblock {
  @extend %border-radius;

  background-color: #eee;
  padding: 1.6rem;
  width: 100%;

  @include break(420) {
    padding: 3.2rem;
  }

  pre {
    color: #333;
    display: block;
    font-weight: 400;
    margin: 0;
  }

  code {
    -webkit-overflow-scrolling: touch;

    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: auto;
  }
}

.git {
  display: block;
  fill: #999;
  height: 2.4rem;
  transition: fill 0.33s ease;
  width: 2.4rem;

  @include hover {
    &:hover {
      fill: #f05133; // Git's logo color.
    }
  }
}

.infobox {
  @extend %border-radius;

  background-color: $porcelain;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.8rem 1.6rem;

  a {
    color: $patina;
    text-decoration: underline;
    transition: color 0.33s ease;

    @include hover {
      &:hover {
        color: $cutty-sark;
      }
    }
  }
}
