@import './../../../styles/_imports';

@import './animations/battery-drain.scss';
@import './animations/charge.scss';

%animation {
  animation-duration: 100s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.mobile-screen {
  background-color: #fff;
  @extend %border-radius;

  display: grid;
  grid: 2.6rem 1fr 1.6rem / auto;
  height: 25.8rem;
  position: absolute;
  display: none;
  width: 14.5rem;

  @include break(768) {
    display: grid;
    left: 68.6rem;
    top: 19.2rem;
  }

  @include break(960) {
    top: 25.2rem;
  }
}

.safari {
  -webkit-text-size-adjust: none;

  &__header {
    background-color: #ddd;
    width: 100%;
  }

  $icon-bar-color: #999;

  &__info-bar {
    display: grid;
    grid: auto / 0.8rem 0.8rem 1fr 0.8rem 0.8rem;
    grid-gap: 0.4rem;
    height: 0.8rem;
    margin: auto;
    place-items: center;
    width: 13.1rem;

    & * {
      color: $icon-bar-color;
      fill: $icon-bar-color;
    }
  }

  &__signal {
    display: grid;
    grid: auto / repeat(5, 0.1rem);
    grid-gap: 0.1rem;
    height: 0.5rem;
    align-items: end;

    &-bar {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        background-color: #666;
      }
      &:nth-child(4),
      &:nth-child(5) {
        background-color: #999;
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          height: #{$i * 20%};
        }
      }
    }
  }

  &__wifi,
  &__charging {
    svg {
      display: block;
      fill: #666;
      height: 0.6rem;
    }
  }

  &__time {
    color: #666;
    font-family: $arial;
    font-size: 5px;
  }

  &__charging {
    justify-self: end;

    svg {
      @extend %animation;

      animation-name: charge;
    }
  }

  &__battery {
    display: grid;
    grid: auto / 0.8rem 0.1rem;
    place-items: center;

    &-shell {
      border: 0.1rem solid $icon-bar-color;
      border-radius: 0.1rem;
      height: 0.4rem;
      width: 0.8rem;
    }

    &-status {
      @extend %animation;

      animation-name: battery-drain;
      background-color: #666;
      height: 100%;
      width: 50%;
    }

    &-node {
      background-color: $icon-bar-color;
      height: 0.2rem;
      width: 0.1rem;
    }
  }

  &__address-bar {
    @extend %border-radius;

    background-color: #838383;
    display: grid;
    grid: auto / 1.4rem 1fr 1.4rem;
    height: 1.4rem;
    margin: auto;
    place-items: center;
    width: 13.7rem;

    & * {
      color: #ddd;
      fill: #ddd;
    }
  }

  &__reader {
    display: grid;
    font-family: $arial;
    grid: auto / auto auto;
    align-items: end;

    &--small,
    &--big {
      line-height: 1px;
    }

    &--small {
      font-size: 6px;
    }
    &--big {
      font-size: 8px;
    }
  }

  &__address {
    display: grid;
    grid: auto / 0.8rem auto;
    grid-gap: 0.2rem;
    place-items: center;
  }

  &__lock,
  &__reload {
    svg {
      display: block;
      fill: #666;
      height: 0.6rem;
      width: 0.6rem;
    }
  }

  &__url {
    color: #ddd;
    font-family: $arial;
    font-size: 8px;
  }

  &__body {
    background-color: #fff;
    width: 100%;
  }

  &__footer {
    background-color: #ddd;
    display: grid;
    grid: auto / repeat(5, 1fr);
    place-items: center;
    width: 100%;

    .chevron-right {
      transform: rotate(180deg);
    }

    svg {
      display: block;
      fill: #999;
      height: 0.8rem;
    }
  }
}
