@import './../../styles/_imports';

.contact {
  &__wrapper {
    height: auto;
    position: relative;
    margin: auto;
    max-width: 48rem;
  }

  &__teaser {
    @extend %page-teaser;

    border-bottom: 0.1rem solid #ccc;
    line-height: 1;
    margin: 0 auto 1.6rem;
    padding: 0 0 1.6rem;
    width: 62%;
  }

  &__info {
    background-color: #eee;
    @extend %border-radius;

    height: auto;
    left: 50%;
    margin: 0 auto;
    max-width: 42rem;
    overflow: hidden;
    padding: 3.2rem;
    position: absolute;
    text-align: center;
    top: 0.1rem;
    transform: translateX(-50%);
    transition: border 0.33s ease, height 0.33s ease, margin 0.33s ease,
      opacity 0.66s ease, padding 0.33s ease;
    width: 94%;
    z-index: 1;
  }

  &__name {
    color: #999;
    font-family: $spartan;
    font-size: 2rem;
    height: 2.4rem;
    margin: 0 0 1.6rem;
    padding: 0;
    text-transform: uppercase;
    transition: transform 0.33s ease;
  }

  &__phone,
  &__email {
    color: #666;
    display: block;
    font-size: 1.6rem;
    height: 1.6rem;
    line-height: 1;
    text-decoration-color: #ccc;

    @include hover {
      &:hover {
        color: #333;
        text-decoration-color: #999;
      }
    }
  }

  &__phone {
    margin: 0 0 1.6rem;
    transition: color 0.33s ease, text-decoration-color 0.33s ease,
      transform 0.66s ease;
  }

  &__email {
    transition: color 0.33s ease, text-decoration-color 0.33s ease,
      transform 0.99s ease;
  }
}

.catcharep {
  background-color: #fff;
  @extend %border-radius;

  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 3.2rem;
  position: absolute;
  max-width: 48rem;
  transition: transform 0.33s ease;
  width: 100%;
  z-index: 2;

  h2 {
    color: #999;
    font-family: $spartan;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0 0 2.4rem;
    padding: 0;
    text-align: center;
    text-transform: uppercase;

    span {
      color: #666;
    }
  }

  &__content {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__quiz {
    color: #666;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    position: relative;

    &-choice {
      align-items: center;
      display: flex;

      &:nth-child(2) {
        margin: 1.6rem 0;
      }
    }

    &-radio {
      appearance: none;
      background-color: #fff;
      border: 0.2rem solid #ccc;
      border-radius: 1.2rem;
      cursor: pointer;
      height: 2.4rem;
      margin: 0 0.8rem 0 0;
      outline: transparent;
      padding: 0.4rem;
      transition: background 0.25s ease, border 0.25s ease;
      width: 2.4rem;

      &:checked {
        border: 0.2rem solid $bittersweet;
        background-color: $bittersweet;
      }

      &.pass {
        &:checked {
          border: 0.2rem solid $patina;
          background-color: $patina;
        }
      }
    }
  }

  &__heart-borkened {
    height: 2.4rem;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    user-select: none;
    width: 2.4rem;

    &.break-it {
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-name: heart;
      animation-timing-function: ease-in-out;
    }

    svg {
      fill: $roman;
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &__logo {
    @extend %full-center;

    flex-direction: column;

    &-label {
      color: #999;
      font-family: $spartan;
      font-size: 1rem;
      font-weight: 700;
      margin: 0.8rem 0 0;
    }
  }

  &__icon {
    height: 3.6rem;
    width: 3.6rem;

    path:nth-child(1) {
      fill: #999;
    }

    path:nth-child(2) {
      fill: $patina;
    }

    path:nth-child(3) {
      fill: $cutty-sark;
    }
  }

  &.show {
    transform: translateY(15rem);
  }
}

@keyframes heart {
  0% {
    left: 0;
    opacity: 0;
    transform: translateY(0);
  }
  33% {
    left: 2rem;
  }
  50% {
    opacity: 1;
  }
  66% {
    left: -2rem;
  }
  100% {
    left: 0;
    opacity: 0;
    transform: translateY(-10rem);
  }
}
