@import './../../../styles/_imports';

.header {
  @extend %h2;

  margin: 0 0 3.2rem;
}

.triptych {
  display: grid;
  grid: repeat(3, 1fr) / auto;
  grid-gap: 3.2rem;

  @include break(768) {
    grid: auto / repeat(3, 1fr);
  }
}

.panel {
  @extend %border-radius;
  @extend %box-shadow;

  background-color: #fff;
  display: grid;
  grid: 2.8rem 6.4rem 1.8rem auto / auto;
  grid-gap: 1.6rem;
  max-width: 42rem;
  padding: 3.2rem;
  place-items: center;

  h3 {
    font-family: $spartan;
    font-size: 2.8rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  h4 {
    color: #999;
    font-family: $spartan;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }

  p {
    color: #666;
    font-size: 1.4rem;
    line-height: 1.33;
    margin: 0;
    padding: 0;
    text-align: center;

    a {
      @extend %text-link;
    }
  }

  img {
    height: 6.4rem;
    width: auto;
  }
}

.wired {
  justify-self: start;

  h3 {
    color: $tradewind;
  }
}

.tired {
  justify-self: center;

  h3 {
    color: #666;
  }
}

.expired {
  justify-self: end;

  h3 {
    color: #999;
  }
}
