@keyframes click-tap {
  0% {
    height: 0;
    left: 1rem;
    opacity: 0;
    top: 1rem;
    width: 0;
  }
  78% {
    height: 0;
    left: 1rem;
    opacity: 0;
    top: 1rem;
    width: 0;
  }
  79% {
    opacity: 0.5;
  }
  80% {
    height: 3.6rem;
    left: -0.8rem;
    opacity: 0;
    top: -0.8rem;
    width: 3.6rem;
  }
  81% {
    height: 0;
    left: 1rem;
    opacity: 0;
    top: 1rem;
    width: 0;
  }

  100% {
    height: 0;
    left: 1rem;
    opacity: 0;
    top: 1rem;
    width: 0;
  }
}
