@keyframes cursor {
  0% {
    left: 32rem;
    top: 25rem;
  }
  72% {
    left: 32rem;
    top: 25rem;
  }
  76% {
    left: 1rem;
    top: 1rem;
  }
  84% {
    left: 1rem;
    top: 1rem;
  }
  86% {
    left: 3rem;
    top: 16rem;
  }
  94% {
    left: 3rem;
    top: 16rem;
  }
  96% {
    left: 32rem;
    top: 25rem;
  }
  100% {
    left: 32rem;
    top: 25rem;
  }
}
