@keyframes nav {
  0% {
    transform: translateX(-9.6rem);
  }
  78% {
    transform: translateX(-9.6rem);
  }
  79% {
    transform: translateX(0);
  }
  93% {
    transform: translateX(0);
  }
  94% {
    transform: translateX(-9.6rem);
  }
  100% {
    transform: translateX(-9.6rem);
  }
}
