@import './../../../styles/_imports';

.panel {
  @extend %border-radius;

  border: 0.1rem solid $patina;
  padding: 0 3.2rem 3.2rem 3.2rem;
}

.icon-box {
  @extend %border-radius;

  background-color: $patina;
  height: 6.4rem;
  left: 50%;
  padding: 1.6rem;
  position: relative;
  top: -3.2rem;
  transform: translateX(-50%);
  width: 6.4rem;
}

.icon {
  display: block;
  fill: #fff;
  height: 3.2rem;
  width: 3.2rem;
}

.header {
  &--h2 {
    @extend %h2;

    margin: 0 0 3.2rem;
  }

  &--h3 {
    @extend %h3;
  }
}

.hr {
  border-top: 0.1rem solid #ccc;
  margin: 1.6rem 6.4rem 3.2rem 6.4rem;
  padding: 0;
}

.grid {
  display: grid;
  grid: auto / auto;
  grid-gap: 3.2rem;
  margin: 0 auto 6.4rem;
  width: fit-content;

  &:last-child {
    margin: auto;
  }

  @include break(540) {
    grid: auto / repeat(2, 1fr);
    width: auto;
  }

  @include break(768) {
    grid: auto / repeat(3, 1fr);
  }

  @include break(1024) {
    grid: auto / repeat(4, 1fr);
  }
}

.icon_word {
  color: #666;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
}
