@import './../../../../styles/_imports';

.flat-button {
  background-color: #888;
  @extend %border-radius;

  color: #fff;
  cursor: pointer;
  font-family: $spartan;
  font-size: 1.4rem;
  font-weight: 700;
  height: 3.6rem;
  letter-spacing: 0.1rem;
  padding: 0.8rem 3.2rem;
  text-transform: uppercase;

  span {
    display: inline-block;
    transform: translateY(0.3rem);
  }

  &:disabled {
    color: #eee;
    background-color: #ccc;
    text-shadow: 0 0 0 transparent;

    @include hover {
      &:hover {
        background-color: #ccc;
        color: #eee;
      }
    }
  }

  &.bittersweet {
    background: linear-gradient(120deg, $tan-hide 0%, $froly 50%, $roman 100%);
    background-position: 0% 0%;
    background-size: 200% 100%;
    text-shadow: 0.1rem 0 0.2rem $tan-hide;
    transition: background 0.5s ease;

    @include hover {
      &:hover {
        background-position: 100% 0%;
      }
    }
  }

  &.patina {
    background-color: $patina;
    text-shadow: 0 0 0.8rem $cutty-sark;
    transition: background 0.5s ease;

    @include hover {
      &:hover {
        background-color: $tradewind;
      }
    }
  }
}
