@import './../../../styles/imports';

@import './animations/cursor.scss';
@import './animations/click-tap.scss';
@import './animations/nav.scss';
@import './animations/home.scss';
@import './animations/contact.scss';

%animation {
  animation-duration: 25s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.mini {
  -webkit-text-size-adjust: none;

  &__website {
    overflow: hidden;
    position: relative;
    height: 32.7rem;
  }

  &__cursor {
    @extend %animation;

    animation-name: cursor;
    fill: #666;
    stroke: #fff;
    stroke-width: 0.1rem;
    height: 1.2rem;
    position: absolute;
    width: 1.2rem;
    z-index: 14;
  }

  &__click-tap {
    @extend %animation;

    animation-name: click-tap;
    background-color: $bittersweet;
    border: 0.1rem solid $roman;
    border-radius: 100%;
    position: absolute;
    z-index: 13;
  }

  &__nav-bar {
    align-items: center;
    background-color: #fff;
    border-top: 0.1rem solid #bbb;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.33);
    display: flex;
    height: 1.6rem;
    left: 0;
    position: absolute;
    top: -0.1rem;
    width: 100%;
    z-index: 12;
  }

  &__menu {
    fill: #888;
    height: 1.2rem;
    margin: 0 0.4rem;
    width: 1.2rem;
  }

  &__nav {
    @extend %animation;

    animation-name: nav;
    background-color: #eee;
    height: 31.1rem;
    left: 0;
    position: absolute;
    top: 1.6rem;
    transform: translateX(-9.6rem);
    width: 9.6rem;
    z-index: 11;

    &-item {
      border: 0.1rem solid #ddd;
      color: #666;
      display: flex;
      font-family: $spartan;
      font-size: 5px;
      font-weight: 700;
      letter-spacing: 0.1rem;
      line-height: 1;
      padding: 0.8rem;
      text-transform: uppercase;

      &-text {
        background-color: #bbb;
        height: 0.4rem;

        &.home {
          width: 2rem;
        }

        &.features,
        &.benefits {
          width: 4rem;
        }

        &.our {
          margin: 0 0.2rem 0 0;
          width: 1.5rem;
        }

        &.history,
        &.pricing {
          width: 3.5rem;
        }

        &.about {
          margin: 0 0.2rem 0 0;
          width: 2.5rem;
        }

        &.this,
        &.site,
        &.hire {
          margin: 0 0.2rem 0 0;
          width: 2rem;
        }

        &.today {
          width: 3rem;
        }

        &.hire,
        &.today {
          background-color: $patina;
        }
      }
    }
  }

  &__content {
    background-color: #fff;
    height: 200%;
    left: 0;
    position: absolute;
    top: 1.6rem;
    width: 100%;
    z-index: 10;
  }

  &__page {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    &.home {
      @extend %animation;

      animation-name: home;
    }

    &.contact {
      @extend %animation;

      animation-name: contact;
    }
  }
}
