@import './../../../../../styles/_imports';

.slat {
  &:first-child {
    .name {
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  &:last-child {
    .name {
      border: 0;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}

.name {
  align-items: center;
  background-color: #eee;
  border-bottom: 0.1rem solid #ccc;
  color: #666;
  display: grid;
  grid: auto / auto 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem;
  transition: 0.33s;

  @include hover {
    &:hover {
      background-color: #fff;
      cursor: pointer;
    }
  }
}

.chevron {
  display: block;
  fill: #ccc;
  height: 1.2rem;
  transform: rotate(270deg);
  transform-origin: center center;
  transition: fill 0.25s ease, transform 0.25s ease;
}

.exposition {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.25s ease, opacity 0.5s ease 0.125s;

  span {
    display: block;
    padding: 0.8rem 1.6rem 3.2rem 1.6rem;
  }
}

.slat.active {
  .name {
    background-color: #fff;
    border-bottom: 0.1rem solid transparent;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin: 0.8rem 0;
    padding: 0.8rem 1.6rem;
  }

  .exposition {
    opacity: 1;
  }

  .chevron {
    fill: #999;
    transform: rotate(90deg);
  }
}
