@import './../../../styles/_imports';

.icon-with-words {
  align-items: center;
  display: grid;
  grid: auto / auto auto;
  grid-gap: 0.8rem;
  width: fit-content;

  &.with-link {
    grid: auto / auto auto auto;

    @include hover {
      &:hover {
        .words {
          color: #000;
        }
        .link {
          fill: $tradewind;
        }
      }
    }
  }
}

.icon {
  height: 1.8rem;
  width: 1.8rem;
}

.grey999 {
  fill: #999;
}

.patina {
  fill: $patina;
}

.tan-hide {
  fill: $tan-hide;
}

.link {
  fill: #ccc;
  height: 0.6rem;
  transition: fill 0.25s ease;
  width: 1.2rem;
}
