@import './../../../styles/_imports';

.background {
  background-image: url(/images/into-the-wild.jpg);
  background-position: center right;
  background-size: cover;
  height: 24rem;
  position: relative;
  overflow: hidden;
  width: 100%;

  @include break(425) {
    height: 32rem;
  }

  @include break(768) {
    height: 42rem;
  }

  @include break(960) {
    @include border-radius;

    height: 48rem;
  }
}

.credit {
  background-color: $patina;
  border-radius: 0 0 0 $border-radius;
  color: #fff;
  font-family: $spartan;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1;
  opacity: 0.5;
  padding: 0.4rem 0.8rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  transition: opacity 0.33s ease;

  @include hover {
    &:hover {
      opacity: 1;
    }
  }

  span {
    position: relative;
    top: 0.1rem;
  }
}

.panel {
  @extend %border-radius;
  @extend %box-shadow;

  background-color: #fff;
  margin: auto;
  margin: -4.8rem auto 0;
  padding: 3.2rem;
  position: relative;
  width: calc(100% - 3.2rem);

  @include break(425) {
    margin: -6rem auto 0;
    width: calc(100% - 6.4rem);
  }

  @include break(768) {
    margin: -9rem auto 0 3.2rem;
    width: 66%;
  }

  @include break(960) {
    margin: -32rem auto 0 3.2rem;
    width: 50%;
  }

  h2 {
    @extend %h2;

    color: $patina;
    line-height: 1.2;
    margin: 0 0 1.6rem;
    text-align: left;

    span {
      color: $cutty-sark;
    }
  }

  p {
    @extend %teaser;
  }

  small {
    color: #666;
    font-size: 1.4rem;
    line-height: 1.6rem;

    sub {
      color: $bittersweet;
      font-size: 2.4rem;
    }
  }
}
