@import './../../../styles/_imports';

.container {
  margin: 0 1.6rem;

  @include break(420) {
    margin: 0 3.2rem;
  }

  &.six-eighty {
    max-width: 68rem;

    @include break(680 + 32) {
      margin: auto;
    }
  }

  &.nine-sixty {
    max-width: 96rem;

    @include break(960 + 32) {
      margin: auto;
    }
  }

  &.twelve-eighty {
    max-width: 128rem;

    @include break(128+32) {
      margin: auto;
    }
  }

  &.flush {
    margin: auto;
  }
}
