@import './../../../styles/imports';

.panel {
  height: calc(100vh - 5rem);
  position: fixed;
  top: 5rem;
  transform: translateX(-30rem);
  transition: transform 0.33s ease;
  width: 28rem;
  z-index: 9;

  &.opened {
    transform: translateX(0);
  }
}

.menu {
  background-color: #f7f7f7;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 24rem;

  &__list-item {
    border-bottom: 0.1rem solid #e7e7e7;
    color: #666;
    cursor: pointer;
    font-family: $spartan;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1;
    transform: translateY(0.3rem);
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.33s ease, color 0.33s ease;

    @include hover {
      &:hover {
        background-color: $mystic;
        color: $cutty-sark;

        .menu__underline {
          width: 100%;
        }
      }
    }
  }

  &__link {
    display: flex;
    padding: 1.8rem 2.4rem;
    transform: translateY(0.3rem);
    width: 100%;
  }

  &__underline {
    background-color: $patina;
    height: 0.1rem;
    transition: width 0.33s ease;
    width: 0;
  }
}
