@import './../../styles/_imports';

// This .footer module gets passed to the full-width container.
.footer {
  background-color: $cutty-sark;
  color: #fff;
  font-family: $spartan;
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
}

.logo-and-consultation,
.link-bank,
.copyright {
  padding: 6.4rem 1.6rem;

  @include break(425) {
    padding: 6.4rem 3.2rem;
  }

  @include break(768) {
    padding: 6.4rem;
  }
}

.logo-and-consultation,
.link-bank {
  border-bottom: 0.1rem solid $patina;
}

.logo-and-consultation {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 3.2rem auto;

  @include break(768) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
  }
}

.logo-and-tag {
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  margin: auto;
  place-items: center;

  @include break(425) {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}

.logo {
  height: 4.8rem;

  path {
    &:nth-child(1) {
      fill: rgba(255, 255, 255, 0.66);
    }

    &:nth-child(2),
    &:nth-child(3) {
      fill: rgba(255, 255, 255, 0.33);
    }
  }
}

.logo-tag {
  display: grid;
  font-size: 3.2rem;
}

.schedule-an-interview {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 1.6rem;
  place-items: center;

  @include break(960) {
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: auto;
  }

  &-label {
    text-align: right;
  }
}

.copyright {
  color: rgba(255, 255, 255, 0.66);
  display: grid;
  grid-gap: 1.6rem;
  grid: auto 3.2rem auto / auto;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  place-items: center;
  text-transform: uppercase;

  @include break(1024) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
  }
}

.privacy {
  display: grid;
  grid: auto auto auto / auto;
  grid-gap: 1.6rem;
  place-items: center;

  @include break(680) {
    grid: auto / auto auto auto;
    grid-gap: 3.2rem;
  }
}

.social {
  display: grid;
  grid: repeat(3, auto) / repeat(3, auto);
  grid-gap: 3.2rem;
  margin: auto;
  place-items: center;

  @include break(500) {
    grid: auto / repeat(6, auto);
    grid-gap: 1.6rem;
  }

  a {
    display: grid;
    place-items: center;

    @include hover {
      &:hover {
        svg {
          fill: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  svg {
    display: block;
    fill: rgba(255, 255, 255, 0.5);
    height: 3.6rem;
    transition: fill 0.33s ease;

    @media (any-pointer: fine) {
      height: 1.8rem;
    }
  }
}

.pi {
  bottom: 0rem;
  display: block;
  fill: rgba(255, 2552, 255, 0.25);
  height: 3.6rem;
  padding: 1rem;
  position: absolute;
  right: 0rem;
  width: 3.6rem;

  svg {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: theNet;
    animation-timing-function: ease;
    display: block;
    fill: rgba(255, 2552, 255, 0.25);
    height: 1.6rem;
    width: 1.6rem;
  }
}

@keyframes theNet {
  0% {
    fill: rgba(255, 2552, 255, 0.25);
  }

  50% {
    fill: rgba(255, 2552, 255, 0.5);
  }

  100% {
    fill: rgba(255, 2552, 255, 0.25);
  }
}
