@import './../../../styles/_imports';

.grid {
  display: grid;
  grid: auto / auto auto;
  grid-gap: 0.8rem;
  margin: auto;
  max-width: 32rem;
  align-items: center;
  width: fit-content;

  @include break(680) {
    max-width: unset;
  }
}

.icon {
  display: block;
}

.children {
  color: #666;
  display: inline;
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;

  @include break(680) {
    font-size: 1.6rem;
    line-height: 1;
  }

  a {
    @extend %text-link;
  }
}
