@import './../../../../../styles/_imports';

.heading {
  @extend %h2;

  margin: 0 0 1.6rem;
}

.grid {
  display: grid;
  grid: auto / 1fr 1fr;
  grid-gap: 6.4rem;
}

.slat {
  &:first-child {
    .name {
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  &:last-child {
    .name {
      border: 0;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}

.name {
  align-items: center;
  background-color: #eee;
  border-bottom: 0.1rem solid #ccc;
  color: #666;
  display: grid;
  grid: auto / auto 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  padding: 1.6rem;
  transition: 0.25s linear;

  @include hover {
    &:hover {
      background-color: #fff;
      cursor: pointer;
    }
  }
}

.magic-arrow {
  position: relative;

  &--line,
  &--upper,
  &--lower {
    background-color: #ccc;
    height: 0.2rem;
  }

  &--upper,
  &--lower {
    border-radius: 0.1rem;
    width: 0.8rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: background 0.33s ease, transform 0.33s ease 0.25s,
      width 0.33s ease 0.25s;
  }

  &--line {
    opacity: 0;
    transform: translateX(0);
    transition: background 0.33s ease, opacity 0.33s ease 0.25s,
      transform 0.33s ease 0.25s, width 0.33s ease 0.25s;
    width: 0;
  }

  &--upper {
    transform: translateX(0) rotate(45deg);
    transform-origin: right bottom;
  }

  &--lower {
    transform: translateX(0) rotate(-45deg);
    transform-origin: right top;
  }
}

.expositions {
  position: relative;
}

.instruction {
  color: #666;
  text-align: center;
}

.exposition {
  background-color: #fff;
  color: #666;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease 0.125s;
  width: 100%;
}

.slat.active {
  .name {
    background-color: #fff;
    border-bottom: 0.1rem solid transparent;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin: 0.8rem 0;
    padding: 0.8rem 1.6rem;
    transition: 0.25s linear 0.25s;
  }

  .magic-arrow {
    &--line,
    &--upper,
    &--lower {
      background-color: #ddd;
    }

    &--line {
      opacity: 1;
      transform: translateX(2.8rem);
      width: 3.2rem;
    }

    &--upper {
      transform: translateX(4.8rem) rotate(90deg);
      width: 3.2rem;
    }

    &--lower {
      transform: translateX(4.8rem) rotate(-90deg);
      width: 3.2rem;
    }
  }
}

.exposition.active {
  opacity: 1;
}
