$bittersweet: hsl(3, 100%, 70%);
$froly: hsl(3, 80%, 70%);
$roman: hsl(3, 60%, 60%);
$zinnwaldite: hsl(3, 60%, 80%);

$tan-hide: hsl(13, 90%, 70%);
$terra-cotta: hsl(13, 70%, 60%);

$porcelain: hsl(180, 20%, 95%);
$mystic: hsl(180, 20%, 90%);
$jungle-mist: hsl(180, 30%, 80%);
$shadow-green: hsl(180, 30%, 70%);
$tradewind: hsl(176, 40%, 50%);
$patina: hsl(180, 20%, 50%);
$cutty-sark: hsl(180, 20%, 40%);
