@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Spartan:wght@300;400;700;900&display=swap');

$arial: Helvetica, Arial, 'sans-serif';
$spartan: 'Spartan', 'Centruy Gothic', 'Myriad Pro', Helvetica, Arial,
  'sans-serif';
$bitter: 'Bitter', Georgia, 'Palatino Linotype', 'Book Antiqua', Palatino,
  'Times New Roman', Times, serif;
