@import './../../../styles/_imports';
@import './ui';

.background {
  background-color: #f7f7f7;
  margin: auto auto 16rem;
  padding: 3.2rem 3.2rem 0 3.2rem;

  @include break(420) {
    @include border-radius;

    margin: auto 3.2rem 16rem;
  }
}

.decoration {
  border-radius: $decoSize/2;
  height: $decoSize;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: $decoSize;

  @include break(680) {
    left: unset;
    transform: unset;
  }
}

.exposition {
  background-color: #fff;
  left: -3.2rem;
  padding: 3.2rem;
  overflow: hidden;
  position: relative;
  top: $decoSize + 1.6;
  width: calc(100% + 6.4rem);

  @include break(420) {
    @include border-radius;
    @include box-shadow;

    left: unset;
    width: 100%;
  }

  @include break(680) {
    left: $decoSize + 3.2;
    top: $decoSize/2;
    width: calc(100% - (12.8rem + 6.4rem));
  }

  h2,
  h3 {
    font-family: $spartan;
    font-weight: 900;
    line-height: 1.33;
    margin: 0 0 1.6rem;
    text-transform: uppercase;
  }

  h2 {
    color: $patina;
    font-size: 2.8rem;

    @include break(680) {
      font-size: 3.6rem;
    }
  }

  h3 {
    color: #999;
    font-size: 1.8rem;

    @include break(680) {
      font-size: 2.4rem;
    }

    span {
      color: $tradewind;
      letter-spacing: 0.2rem;
    }
  }

  p {
    color: #666;
    font-size: 1.8rem;
    line-height: 1.66;
    margin: 0 0 1.6rem;

    &:last-child {
      margin: 0;
    }
  }

  small {
    color: #666;
  }
}
