@import './../../../styles/imports';

.toggle {
  background: #eee;
  @extend %border-radius;

  box-shadow: inset -0.2rem -0.2rem 0.8rem rgba(0, 0, 0, 0.1),
    inset -0.1rem -0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin: 0.7rem;
  overflow: hidden;
  height: 3.6rem;
  width: 10.2rem;

  &__slider {
    align-content: center;
    align-items: center;
    display: flex;
    height: 3.6rem;
    transition: transform 0.33s ease;
    transform: translateX(-6.6rem);
  }

  &__close,
  &__menu {
    @extend %full-flex-center;

    font-family: $spartan;
    color: #666;
    flex: 0 0 6.8rem;
    font-size: 1.4rem;
    width: 6.8rem;
  }

  &__peg {
    @extend %full-flex-center;

    background-color: #fff;
    background-image: linear-gradient(135deg, #fff 0%, #e7e7e7 100%);
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.2),
      0 0.2rem 0.8rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
    flex: 0 0 3.2rem;
    flex-direction: column;
    justify-content: space-around;
    height: 3.2rem;
    padding: 0.4rem 0;
    width: 3.2rem;

    &-notch {
      background-color: $jungle-mist;
      @extend %border-radius;

      box-shadow: inset -0.4rem -0.4rem 1.6rem rgba(0, 0, 0, 0.2),
        inset -0.2rem -0.2rem 0.8rem rgba(0, 0, 0, 0.1),
        inset -0.1rem -0.1rem 0.2rem rgba(0, 0, 0, 0.05);
      flex: 0 0 0.4rem;
      height: 0.4rem;
      transition: background 0.33s ease, transform 0.33s ease;
      width: 2.4rem;

      &:first-child {
        transform-origin: top left;
      }

      &:last-child {
        transform-origin: bottom left;
      }
    }
  }

  &.opened {
    .toggle__slider {
      transform: translateX(0);
    }

    .toggle__peg {
      &-notch {
        background-color: $terra-cotta;

        &:first-child {
          transform: rotate(45deg) translateY(-0.3rem) translateX(0.3rem);
        }

        &:nth-child(2) {
          transform: scaleX(0);
        }

        &:last-child {
          transform: rotate(-45deg) translateY(0.3rem) translateX(0.3rem);
        }
      }
    }
  }
}
