%border-radius {
  border-radius: $border-radius;
}

%box-shadow {
  box-shadow: $box-shadow;
}

%h2 {
  color: #999;
  font-family: $spartan;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

%h3 {
  color: #999;
  font-family: $spartan;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

%text-link {
  color: inherit;
  text-decoration: underline solid $tradewind;
  transition: color 0.33s ease;

  @include hover {
    &:hover {
      text-decoration: underline double $tradewind;
      color: #000;
    }
  }
}
