.grid {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(29.6rem * 2);
}

.box {
  align-content: center;
  align-items: center;
  //border: 0.1rem solid #e7e7e7;
  //border-radius: 0.6rem;
  box-shadow: inset 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  flex: 0 0 7.2rem;
  height: 7.2rem;
  position: relative;
}

.drag-wrapper {
  height: 61.8%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: transform 0.33s ease;
  width: 61.8%;
}

.emoji {
  height: 4.5rem;
  transition: transform 0.33s ease-in;
  width: 4.5rem;

  img {
    pointer-events: none;
    user-select: none;
  }
}
