@import './../styles/imports';

.hero {
  display: grid;
  grid: auto auto / auto;

  @include break(960) {
    grid: auto / 1fr 1fr;
  }

  &__overflow {
    height: auto;
    overflow: hidden;
    width: 100%;
  }

  &__panel {
    &--one {
      padding: 3.2rem 0;
      position: relative;
      z-index: 1;
    }

    &--two {
      height: 70rem;
      position: relative;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto 3.2rem;
    width: 12rem;

    path {
      &:nth-child(1) {
        fill: $patina;
      }

      &:nth-child(2),
      &:nth-child(3) {
        fill: $jungle-mist;
      }
    }

    @include break(960) {
      margin: 0 0 3.2rem;
    }

    @include break(1280) {
      width: 18rem;
    }
  }

  &__header {
    font-family: $spartan;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.25;
    margin: 0 0 2.4rem;
    text-align: center;
    text-transform: uppercase;

    @include break(960) {
      text-align: left;
    }

    @include break(1280) {
      font-size: 3.6rem;
    }

    @include break(1440) {
      font-size: 4.2rem;
    }

    span {
      color: $patina;
    }
  }

  &__teaser {
    @extend %teaser;

    max-width: 55rem;
    text-align: center;

    @include break(960) {
      text-align: left;
    }
  }

  &__asterisk {
    @extend %asterisk;

    margin: 0 0 3.2rem;
    text-align: center;

    @include break(960) {
      text-align: left;
    }
  }

  &__image {
    background-image: url(./../public/images/placeholder-iphone.png);

    @include break(768) {
      background-image: url(./../public/images/laptop-and-phone.png);
      background-repeat: norepeat;
      height: 70rem;
      left: -20rem;
      position: absolute;
      top: -6rem;
      width: 120rem;
    }

    @include break(960) {
      top: 0;
    }

    img {
      width: 100%;
    }
  }

  &__call-to-action {
    display: flex;
    justify-content: center;

    @include break(960) {
      justify-content: start;
    }
  }
}
