@import './../../styles/_imports';

.pricing {
  &__teaser {
    @extend %page-teaser;
  }

  &__options {
    display: flex;
    flex-direction: column;

    @include break(768) {
      flex-direction: row;
      justify-content: center;
    }
  }

  h2 {
    font-family: $spartan;
    font-weight: 900;
    margin: 1.6rem 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__nope {
    background-color: #eee;
    padding: 3.2rem;

    h2 {
      color: #666;
      font-size: 1.8rem;
    }

    &.part-time {
      border-radius: $border-radius $border-radius 0 0;
      margin: 0 3.2rem;

      @include break(768) {
        border-radius: $border-radius 0 0 $border-radius;
        margin: 3.2rem 0;
      }
    }

    &.contract-to-hire {
      border-radius: 0 0 0.4rem 0.4rem;
      margin: 0 3.2rem;

      @include break(768) {
        border-radius: 0 0.4rem 0.4rem 0;
        margin: 3.2rem 0;
      }
    }
  }

  &__yep {
    @extend %border-radius;

    box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.25);
    margin: 0 1.6rem;
    padding: 3.2rem;
    position: relative;
    z-index: 1;

    @include break(768) {
      margin: 0;
    }

    h2 {
      color: $patina;
      font-size: 2.4rem;
    }
  }

  &__tag--center {
    @extend %full-center;
  }

  &__perk {
    color: #999;
    display: flex;
    font-size: 1.6rem;
    margin: 0 0 0.8rem;

    svg {
      fill: #ccc;
      flex: 0 0 1.6rem;
      height: 1.6rem;
      margin: 0 0.8rem 0 0;
    }

    & > span {
      @extend %full-center;

      text-decoration: line-through;
    }
  }

  &__perks {
    &.full-time {
      svg {
        fill: $tradewind;
        flex: 0 0 2.4rem;
        height: 2.4rem;
      }

      & > div {
        color: #666;
        & > span {
          text-decoration: none;

          & > span {
            color: $patina;
          }
        }
      }
    }
  }

  &__call-to-action {
    @extend %full-center;

    margin: 3.2rem 0;
  }

  &__asterisk {
    @extend %asterisk;
  }

  &__articles {
    margin: 6.4rem auto 0;
    padding: 0 3.2rem;
    max-width: 64rem;
  }

  &__article {
    &-title {
      color: $cutty-sark;
      display: block;
      font-size: 2.4rem;
      font-weight: 700;
      margin: 0 0 0.8rem;
      text-decoration: none;
      transition: color 0.33s ease;

      @include hover {
        &:hover {
          color: $patina;
        }
      }
    }

    &-blurb {
      @extend %teaser;
    }

    &-footer {
      display: flex;
      font-family: $spartan;
      font-size: 1.2rem;
      font-weight: 900;
      letter-spacing: 0.1rem;
      margin: 0 0 3.2rem;
      padding: 0 0 3.2rem;
      text-transform: uppercase;

      &.border {
        border-bottom: 0.1rem solid #ccc;
      }
    }

    &-slug {
      color: #666;
    }

    &-read-more {
      color: $cutty-sark;
      flex-grow: 1;
      text-align: right;
      transition: color 0.33s ease;

      @include hover {
        &:hover {
          color: $patina;
        }
      }
    }
  }
}
