@import './../../../styles/_imports';

.page-header {
  color: $cutty-sark;
  font-family: $spartan;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1;
  margin: 3.2rem 0 1.6rem;
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  @include break(420) {
    font-size: 3.2rem;
  }

  @include break(480) {
    font-size: 3.6rem;
  }

  @include break(768) {
    margin: 6.4rem 0 1.6rem;
  }
}
