@import './variables';
@import './mixins';

@import './placeholders/utilities';
@import './placeholders/ui';

%full-center {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

%full-center--inline {
  align-content: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

%asterisk {
  color: #666;
  font-size: 1.2rem;

  span {
    color: $patina;
  }
}

%teaser {
  color: #666;
  font-size: 1.6rem;
  line-height: 1.66;
  margin: 0 0 1.6rem;

  @include break(1024) {
    font-size: 1.8rem;
  }

  strong {
    color: #333;
    font-weight: 700;
  }
}

%page-teaser {
  @extend %teaser;

  margin: 0 auto 3.2rem;
  max-width: 64rem;
  padding: 0 3.2rem;
  text-align: center;
}

%input__label {
  &--top {
    color: $patina;
    font-family: $spartan;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin: 0 0 0.4rem;
    text-transform: uppercase;
  }
}

%input__text {
  color: #666;
  font-size: 1.6rem;
}

%input--inset {
  @extend %input__text;

  appearance: none;
  border: 0.1rem solid #ccc;
  @extend %border-radius;

  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: background 0.25s ease, box-shadow 0.25s ease;

  &:disabled {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background-color: #ccc;
    cursor: not-allowed;
  }
}
