* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bitter', Georgia, 'Palatino Linotype', 'Book Antiqua', Palatino,
    'Times New Roman', Times, serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
