@import './../../../../../styles/_imports';
@import './../../ui';

.spinner {
  height: $decoSize;
  transform: rotate(720deg) scale(0);
  transform-origin: center center;
  width: $decoSize;
}

.animate {
  animation-name: unicorn;
  animation-timing-function: cubic-bezier(0.65, 1.5, 0.5, 1.1);
  animation-duration: 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes unicorn {
  0% {
    opacity: 0;
    transform: rotate(90deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

.unicorn {
  fill: $zinnwaldite;
  height: $decoSize;
  width: $decoSize;
}

.star {
  animation-name: star;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transform-origin: center center;
  fill: gold;
  opacity: 0;
  position: absolute;
  z-index: 9;
}

.one {
  animation-duration: 4.25s;
  animation-delay: 3.33s;
  height: 2rem;
  left: 0;
  width: 2rem;
}

.two {
  animation-duration: 3.75s;
  animation-delay: 2s;
  height: 2.4rem;
  left: 2.1333rem;
  height: 2.4rem;
}

.three {
  animation-duration: 3.25s;
  animation-delay: 0.66s;
  height: 2rem;
  left: 2.1333rem * 2;
  width: 2rem;
}

.four {
  animation-duration: 3s;
  animation-delay: 0s;
  height: 1.6rem;
  left: 2.1333rem * 3;
  width: 1.6rem;
}

.five {
  animation-duration: 3.5s;
  animation-delay: 1.33s;
  height: 2rem;
  left: 2.1333rem * 4;
  width: 2rem;
}

.six {
  animation-duration: 4s;
  animation-delay: 2.66s;
  height: 2.4rem;
  left: 2.1333rem * 5;
  width: 2.4rem;
}

.seven {
  animation-duration: 4.5s;
  animation-delay: 4s;
  height: 2rem;
  left: 2.1333rem * 6;
  width: 2rem;
}

@keyframes star {
  0% {
    fill: gold;
    opacity: 0;
    transform: translate3d(0, 0, 0) rotateY(0);
  }
  20% {
    opacity: 1;
  }
  33% {
    transform: translate3d(0.8rem, 8rem, 0) rotateY(240deg);
  }
  66% {
    transform: translate3d(-0.8rem, 16rem, 0) rotateY(480deg);
  }
  100% {
    opacity: 0;
    fill: gold;
    transform: translate3d(0, 24rem, 0) rotateY(720deg);
  }
}
