@import './../../../styles/_imports';

.tag {
  @extend %full-center--inline;
  @extend %border-radius;

  background-color: #999;
  color: #fff;
  font-family: $spartan;
  font-size: 1rem;
  font-weight: 900;
  height: 1.6rem;
  letter-spacing: 0.1rem;
  padding: 0 1.6rem;
  text-transform: uppercase;

  span {
    transform: translateY(0.1rem);
  }

  &.grey666 {
    background-color: #666;
  }

  &.tradewind {
    background-color: $tradewind;
  }
}
