@import './../../../styles/_imports';

.laptop-screen {
  @extend %border-radius;

  background-color: #fff;
  background-image: url('./../../../public/images/laptop-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset -0.1rem -0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  display: none;
  height: 40.6rem;
  left: 5.4rem;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 5.6rem;
  user-select: none;
  width: 60.3rem;

  @include break(768) {
    display: block;
  }

  @include break(960) {
    top: 11.6rem;
  }
}

.browser {
  -webkit-text-size-adjust: none;
  background-color: #fff;
  @extend %border-radius;

  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.5);
  height: 36rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  width: 55rem;
  top: 50%;

  &__header {
    background-color: #ddd;
    height: 3.3rem;
  }

  &__tabs {
    display: flex;
    height: 1.6rem;
  }

  &__controls {
    display: flex;
    height: 1.6rem;
  }

  &__dot {
    background-color: #fff;
    border-radius: 0.2rem;
    height: 0.4rem;
    margin: 0.6rem;
    width: 0.4rem;

    &.one {
      background-color: #888;
      margin-right: 0.2rem;
    }

    &.two {
      background-color: #bbb;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }

    &.three {
      background-color: #bbb;
      margin-left: 0.2rem;
      margin-right: 0;
    }
  }

  &__tab {
    display: flex;
    width: 11.2rem;

    &-end {
      background-color: #fff;
      height: 1.6rem;
      width: 0.6rem;
    }

    &-curve {
      background-color: #ddd;
      flex-basis: 0.6rem;
      height: 1.6rem;
      width: 0.6rem;

      &.left {
        border-bottom-right-radius: 0.6rem;
      }

      &.right {
        border-bottom-left-radius: 0.6rem;
      }
    }

    &-center {
      align-items: center;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      background-color: #fff;
      display: flex;
      flex-basis: 10rem;
      height: 1.2rem;
      margin-top: 0.4rem;
      width: 10rem;
    }

    &-logo {
      display: inline-block;
      flex-basis: auto;
      height: 0.6rem;
      margin: 0 0.3rem;
    }

    &-title {
      color: #888;
      flex-grow: 1;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.6rem;
      transform: translateY(0.1rem);
    }

    &-close {
      display: inline-block;
      fill: #888;
      flex-basis: 0.4rem;
      height: 0.4rem;
      margin: 0 0.4rem;
    }
  }

  &__address {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 1.6rem;

    &-icon {
      display: inline-block;
      fill: #888;
      flex-basis: 0.8rem;
      height: 0.8rem;

      &.arrow-left,
      &.arrow-right {
        margin: 0 0 0 0.6rem;
      }

      &.reload,
      &.more,
      &.dots-vertical {
        margin: 0 0.6rem;
      }

      &.more {
        margin: 0 0.6rem;
      }

      &.lock {
        flex-basis: 0.6rem;
        height: 0.6rem;
        margin: 0 0.4rem;
      }
    }

    &-input {
      @extend %border-radius;

      align-items: center;
      border: 0.1rem solid #bbb;
      color: #888;
      display: flex;
      flex-grow: 1;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
      height: 1.2rem;
    }
  }
}
